<form [formGroup]="form">
  <po-combo
    name="combo"
    class="po-md-8"
    formControlName="placa"
    p-label="Selecione a placa"
    [p-options]="items"
  >
  </po-combo>

  <po-button
    class="po-md-4 po-mt-4"
    p-label="Buscar"
    (p-click)="trackVehicle()"
  ></po-button>

  <po-widget p-title="Última posição de veículos - Versão XML (Positron)">
    <pre *ngIf="currentPosition">


    {{currentPosition | json}}
    <!-- <po-dynamic-form
      [p-fields]="fields"
      [p-value]="currentPosition">
    </po-dynamic-form> -->

    </pre>
  </po-widget>
</form>
