<po-page-list
  [p-actions]="actions"
   [p-filter]="filter"
>
  <po-disclaimer-group
    class="po-row po-lg-12 po-md-12 po-sm-12"
    *ngIf="disclamer"
    [p-disclaimers]="disclamer"
    [p-hide-remove-all]="true"
    p-title="Filtros ativos"
  >
  </po-disclaimer-group>
  <po-table
    #poTableInstance
    [p-selectable]="false"
    p-container="true"
    [p-hide-table-search]="true"
    [p-height]="600"
    [p-draggable]="true"
    [p-max-columns]="9"
    [p-actions]="actionsTable"
    [p-columns]="columns"
    [p-striped]="true"
    [p-single-select]="true"
    [p-hide-detail]="false"
    [p-text-wrap]="false"
    [p-sort]="true"
    (p-show-more)="onShowMore()"
    [p-items]="tableItems"
    >
  </po-table>
</po-page-list>

<po-modal #advancedFilterModal p-title="Busca avançada" [p-primary-action]="confirm" [p-secondary-action]="close">
  <form [formGroup]="form">
    <div class="po-row">
      <po-input
        class="po-md-6 po-sm-12"
        name="cliente"
        formControlName="cliente"
        p-label="Cliente"
        p-placeholder="Digite o nome do cliente">
      </po-input>

      <po-input
        class="po-md-6 po-sm-12"
        name="placa"
        formControlName="placa"
        p-label="Placa"
        p-placeholder="Digite a placa do veículo">
      </po-input>
    </div>

    <po-datepicker-range
      name="datepickerRange"
      formControlName="datePickerRanger"
      p-label="Intervalo de datas">
    </po-datepicker-range>
  </form>
</po-modal>
