<div class="po-wrapper">
  <po-menu
    [p-menus]="menus"
    [p-collapsed]="true"
    [p-logo]="logo">
  </po-menu>

  <po-page-list
    p-title="Colaborador"
    [p-breadcrumb]="breadcrumb"
    [p-actions]="actions"
    >

    <po-table
      [p-selectable]="true"
      p-container="true"
      [p-single-select]="true"
      [p-hide-table-search]="false"
      [p-height]="600"
      (p-selected)="onSelectCollaborator($event)"
      (p-unselected)="onUnselectCollaborator()"
      (p-show-more)="onShowMore()"
      [p-items]="tableItems"
      >
    </po-table>
  </po-page-list>
</div>

