<div class="po-wrapper">
  <po-menu
    [p-menus]="menus"
    [p-collapsed]="true"
    [p-logo]="logo">
  </po-menu>
  <po-toolbar
    p-title="RDO - Relatório de obra diário">
  </po-toolbar>

  <po-page-list
  [p-actions]="actions"
  >
    <po-table
      [p-selectable]="true"
      p-container="true"
      [p-hide-table-search]="false"
      [p-height]="650"
      [p-draggable]="true"
      [p-actions-right]="false"
      [p-actions]="tableActions"
      [p-max-columns]="9"
      [p-columns]="columns"
      [p-striped]="true"
      [p-single-select]="true"
      [p-text-wrap]="false"
      [p-sort]="true"
      (p-show-more)="onShowMore()"
      (p-selected)="onSelectDailyReport($event)"
      (p-unselected)="onUnselectDailyReport()"
      [p-items]="tableItems"
      >
    </po-table>
  </po-page-list>
</div>
